.button {
    display: inline-block;
    border: none;
    background: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 2px 2px 6px @dark-a-3;

    &:hover {
        box-shadow: 2px 2px 2px @dark-a-3;
    }

    &--primary {
        color: white;
        background: @primary;

        &:hover {
            background: @btn-primary-hover;
        }
    }
    
    &--success {
        color: white;
        background: @primary;

        &:hover {
            background: @btn-primary-hover;
        }
    }
    
    &--danger {
        color: white;
        background: @primary;

        &:hover {
            background: @btn-primary-hover;
        }
    }
    
    &--warning {
        color: white;
        background: @primary;

        &:hover {
            background: @btn-primary-hover;
        }
    }
    
    &--info {
        color: white;
        background: @primary;

        &:hover {
            background: @btn-primary-hover;
        }
    }
}